/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(25, 28, 28);
  color:white;
}

.mat-drawer.mat-drawer-side {
  width: 200px;
}

markdown{
  h1{
    font-size: 2rem !important;
  }
  h2{
    font-size: 1.75rem !important;
  }
}

.card {
  border: 1px solid rgb(0, 79, 79);
  box-shadow: 3px 3px 3px rgb(0, 79, 79);
  overflow: scroll;
  margin: 10px;
  padding: 10px;
}

.HR{
  --mdc-chip-elevated-container-color: #004f4f
}
.FINANCE{
  --mdc-chip-elevated-container-color: #690005
}
.FLEET{
  --mdc-chip-elevated-container-color: #ffb787;
  --mdc-chip-label-text-color:rgb(25, 28, 28);
}
.MEETING{
  --mdc-chip-elevated-container-color: #00dddd;
  --mdc-chip-label-text-color: rgb(25, 28, 28);
}