:host{
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  width: 100%;

  .history {
    flex-grow: 2;
    height: 100%;

    &.small{
      flex-grow: 1;
    }

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .chat{
    flex-grow:8;
    height: 100%;
  }
  .resources{
    flex-grow: 2;
    width: 30%;
    height: 100%;
  }
}