.app{
  margin: 5px;
  height: calc(100vh - 64px);
}
mat-toolbar{
  background: rgb(0, 79, 79);
  color: rgb(0, 221, 221);
}

mat-drawer{
  border-radius: 0;
  border-right: 1px solid rgb(0, 79, 79);

}

.example-spacer {
  flex: 1 1 auto;
}
